<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
            <h3 class="my-heading">IRON<span class="bg-main">MUSIC</span></h3>
        </a>
        {{!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars mfa-white"></span>
        </button> --}}
        {{!-- <div class="collapse navbar-collapse" id="navbarResponsive"> --}}
            <ul class="navbar-nav ml-auto">
			    {{!-- <li class="nav-link">
                    <a class="btn btn-primary btn-block btn-register" href="#">Create an Account</a>
                </li> --}}
                <li class="nav-link">
                    <form action="/auth/google" method="POST">
                        <input type="hidden" name="role" value="artist">
						<button type="submit" class="btn btn-danger">
        					<i class="fa fa-google-plus"></i> Login with Google</span>
						</button>
					</form>
                </li>
             </ul>
         </div>
     </div>
 </nav>