
<form class="roles mt-5" method="POST" action="/role-selection">
  <select name="role" onchange="this.form.submit()">
      <option value="user">User</option>
      <option value="artist">Artist</option>
      <option value="bar">Bar</option>
  </select>
</form>

