
<h2 class="m-5">Bar Details</h2>

<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{Bar.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{Bar.description}}</h6>
    <p class="card-text">{{Bar.gallery}}</p>
    <a href="/bars" class="card-link">Go back</a>
  </div>
</div>