<h2 class="mt-5 ml-5">Complete your Bar profile</h2>

<form method='post' class="ml-5">
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control {{#if errors.description }}is-invalid{{/if}}" id="bar-description" aria-describedby="text" name='description' placeholder="Description">{{this.description}}</textarea>
          {{#if errors.description }}
              <div class="invalid-feedback">
            {{ errors.description }}
              </div>
            {{/if}}
  </div>
  <div class="form-group m-1">
    <label for="capacity">Capacity</label>
    <input type="number" class="form-control col-sm-1 {{#if errors.capacity }}is-invalid{{/if}}" id="capacity" name='capacity' placeholder="Capacity" value="{{this.capacity}}">
            {{#if errors.capacity }}
              <div class="invalid-feedback">
            {{ errors.capacity }}
              </div>
            {{/if}}
  </div>
  <div>
    <label>Address</label>
    <input type="text" name="adress" id="adressInput">
    {{!-- <input type="number"  name="longitude" placeholder="Longitude">
    <input type="number" name="latitude" placeholder="Latitude" > --}}
  </div>



{{!-- Aqui maps test --}}

<div class="pac-card" id="pac-card">
  <div id="pac-container">
    <input id="pac-input" type="text" value="" placeholder="Enter a location">
  </div>
</div>

<div id="map"></div>

<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>
</div>


{{!-- Hasta aquí maps test --}}

  <button type="submit" class="btn btn-outline-info mt-3">Submit</button>
</form>
