<div class="card-group">
    <div class="row">
        <div class="col">

          <div class="card mb-5 bg-light" style="width: 25rem;">
          <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <a href="/bars/{{this.id}}" class="card-link">Details</a>
          </div>
          </div>

       </div>
    </div>
</div>