<div class="card m-5 bg-light" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/bars/{{this.id}}" class="card-link">Details</a>
  </div>
</div>