<div class="container">
  <div class="row">
    <div class="col-md">
        <h2 class="title">My profile</h2>
        <div class="card mt-3" style="max-width: 15rem;">
          <div class="card-header">{{ user.email }}  </div>
          <div class="card-body">
            <div class="text-left">
              <img src="{{ user.photo }}" alt="picture" class="img-thumbnail mb-1">
            </div>
            <p class="card-title text-cente">{{ user.name }}</p>
          </div>
        </div>
        </div>
      <div class="col-md">

          <h2 class="title">Events I'm gonna attend</h2>
          {{> events/event_list }}
      </div>
    </div>
  </div>




