<div class="container">
    <h1 class="title">Artists List</h1>
        <div class="row">
                {{#each artists as |artist|}}
                {{> artists/artistsdetails }}
            {{/each}}
        </div>
</div>