<h2 class="mt-5 ml-5">Complete your Artist profile</h2>

<form method='post' class="ml-5">
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="artis-description" aria-describedby="text" name='description' placeholder="Description" value="{{artist.decription}}"></textarea>
  </div>
  <div class="form-group">
    <label for="music-type">Music Genre</label>
    <input type="text" class="form-control" id="music-genre" name='capacity' placeholder="Music Genre" value="{{artist.genre}}">
  </div>
  <button type="submit" class="btn btn-primary mb-5">Submit</button>
</form>
