<div class="container">
    <h2 class="title">Artists List</h2>
        <div class="row">
            {{#each artists as |artist|}}
                {{> artists/artistsdetails }}
            {{/each}}
        </div>
</div>