
<h2 class="m-5">Artist Details</h2>

<div class="card m-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{Artist.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{Artist.description}}</h6>
    <p class="card-text">{{Artist.gallery}}</p>
    <a href="/artists" class="card-link">Go back</a>
  </div>
</div>